*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 400;
    text-rendering: optimizeLegibility;
}

html a{
    text-decoration: none;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: josefin-sans, sans-serif;
    text-align: center;
    background-color: #1e1e2f;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background: #2a2a40;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 15px;
}

h1 {
    color: #ff4d4d;
}

#current-number{
    color: white;
}
.display {
    margin: 20px 0;
    font-size: 3rem;
    font-weight: bold;
    color: #ff4d4d;
}

.buttons {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    margin: 5px;
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset-button{
    background-color: transparent;
    color: #ff4d4d;
    border: solid 1px #ff4d4d;
}

button:hover {
    background-color: #e65b4d;
    
}

.history {
    margin-top: 30px;
    text-align: left;
}

#called-numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-around;
}

#called-numbers span {
    padding: 10px;
    background: #3b3b52;
    color: #e0e0e0;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid #ff4d4d;
}

#footer{
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
    font-size: 11px;
}

@media (min-width: 768px) {
    #footer{
        font-size: 12px;
        font-weight: bold;
    }
}